ipywidgets
jupyter-server-proxy
jupyterhub
jupyterlab-git
jupyterlab-lsp
jupyterlab
jupyterlab_widgets
jupytext
lckr-jupyterlab-variableinspector
mypy-ls
nbconvert
notebook
pyls-black
pyls-flake8
pyls-isort
pyls-mypy
python-lsp-black
python-lsp-server[all]
